//? Fonts

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");

//? VARIABLES

$black: #0d0d0d;
$gray: #6b6655;
$white: #ffffff;
$darkRed: #430602;
$lightRed: #8c2626;
$textShadow: 1px 1px 5px;
$radius: 20px;

//? MIXINS

@mixin displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin media-xsm {
  @media screen and (min-width: 0px) and (max-width: 575px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $gray;
  color: $white;
  font-family: "Special Elite", system-ui;
}

.container {
  //   border: 2px solid red;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  background-color: $black;
  // box-shadow: -5px 5px 10px $darkRed, 5px 5px 10px $darkRed;
}

//? NAVBAR
.navbar {
  //   border: 2px solid blue;
  width: 100%;
  height: 8vh;
  @include displayFlex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  &__logo {
    // border: 2px solid orchid;
    width: auto;
    height: 100%;
    @include displayFlex;
    color: $lightRed;
    text-shadow: $textShadow $darkRed;
    margin-left: 1.5rem;
    font-size: 2rem;
  }

  &__menu {
    @include displayFlex;
    justify-content: space-evenly;
    gap: 1.5rem;
    margin-right: 3rem;
    list-style-type: none;

    &--last {
      a {
        text-decoration: none;
        color: $white;

        &:hover {
          color: $lightRed;
        }

        &:active {
          text-shadow: $textShadow $white;
        }
      }
    }
  }
}

//? HEADER

.header {
  background-image: url(./img/1.jpg);
  height: 70vh;
  background-size: cover;
  background-position: top;
  text-align: center;
  align-content: center;

  &__title {
    color: $white;
    text-shadow: $textShadow $darkRed;
    font-size: 2.5rem;

    span {
      color: $darkRed;
      text-shadow: $textShadow $white;
    }
  }

  &__text {
    color: $white;
    font-weight: bold;
    font-size: 1.2rem;
    align-content: center;
    text-shadow: $textShadow $darkRed;
  }

  &__button {
    background-color: $gray;
    color: $white;
    min-width: 10vw;
    height: 3vh;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;

    &:hover {
      background-color: $darkRed;
      box-shadow: $textShadow $lightRed;

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

//? ABOUT

.about {
  @include displayFlex;
  justify-content: space-around;
  padding: 20px 20px;
  &__text {
    width: 50vw;

    p {
      line-height: 1.2;
    }

    button {
      @extend .header__button;
      width: 15vw;
    }
  }
  &__img {
    width: 20vw;
    border-radius: 20px;
    border: 2px solid $darkRed;

    img {
      object-fit: cover;
      width: 100%;
      border-radius: $radius;
    }
  }
}

//? MY WORKS

.portfolio {
  @include displayFlex;
  flex-direction: column;
  padding: 20px 5px;

  h2 {
    padding-bottom: 20px;
  }

  &__boxes {
    // border: 2px solid red;
    @include displayFlex;
    justify-content: space-evenly;
    width: 90%;
    height: auto;
    margin-bottom: 20px;

    &--box {
      // border: 2px solid blue;
      height: 30vh;
      flex-wrap: wrap;
      width: 18%;
      text-align: center;
      cursor: pointer;
      border: 2px solid $lightRed;
      border-radius: $radius;

      &:hover {
        opacity: 0.7;
        transform: scale(1.1);
      }

      img {
        object-position: center;
        object-fit: cover;
        object-position: top;
        margin-top: 10px;
        width: 90%;
        height: 60%;
        border-radius: $radius;
        border: 2px groove $gray;
      }
    }
  }
  button {
    margin-top: 10px;
    @extend .header__button;
    min-width: 20vw;
  }
}

//? CONTACT

.contact {
  @include displayFlex;
  flex-direction: column;
  padding: 20px 5px;

  h2 {
    padding-bottom: 20px;
  }

  &__table {
    // border: 2px solid red;
    min-width: 25vw;

    input {
      width: 15vw;
      height: 1.5rem;
    }

    label {
      cursor: pointer;
    }

    textarea {
      width: 15vw;
      resize: none;
      overflow: auto;
    }

    &--button {
      text-align: center;
      height: 4rem;

      button {
        @extend .header__button;
      }
    }
  }
}

//? FOOTER

.footer {
  width: 100%;
  height: 8vh;
  @include displayFlex;
  justify-content: space-between;
  // border: 2px solid red;

  &__logo {
    @extend .navbar__logo;
  }

  &__copyright {
    text-align: center;
  }

  &__icons {
    margin-right: 20px;
    font-size: 2.2rem;
    a {
      color: $white;
      text-decoration: none;
      padding: 10px;

      i {
        &:hover {
          color: $darkRed;
        }
        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}

//! MEDIA QUERRY

@include media-xsm {
  .container {
    width: 100vw;
    .navbar {
      height: auto;
      flex-direction: column;
      position: relative;
      justify-content: center;
      padding: 10px 0;

      &__logo {
        padding: 10px 0;
        margin: 0;
      }
      &__menu {
        gap: 1;
        padding: 0;
        margin: 0;
        &--last {
          font-size: 0.7rem;
        }
      }
    }

    //? HEADER

    .header {
      height: 40vh;
      padding: 10px 5px;
      &__title {
        font-size: 2rem;
      }
      &__text {
        font-size: 1rem;
      }
      &__button {
        font-size: 0.8rem;
      }
    }

    //? ABOUT

    .about {
      padding: 10px 5px;
      &__text {
        width: 100%;
        text-align: center;
        padding: 10px 5px;
      }
      h2 {
        text-align: center;
        font-size: 1.2rem;
      }
      &__img {
        display: none;
      }

      button {
        width: fit-content;
      }
    }

    //? MY WORKS

    .portfolio {
      flex-wrap: wrap;
      padding: 10px 5px;

      h2 {
        margin: 10px auto;
      }

      &__boxes {
        flex-wrap: wrap;

        &--box {
          width: 100%;
          margin-top: 3px;
          &:hover {
            opacity: 0.7;
            transform: scale(0.8);
          }
        }
      }
    }

    //? CONTACT

    .contact {
      padding: 10px 5px;

      h2 {
        padding-bottom: 10px;
        margin: 0;
      }

      &__table {
        width: 100%;
        text-align: center;
        th {
          display: block;
          width: 100%;
        }
        td {
          display: block;
          width: 100%;
        }
        input {
          width: 60%;
        }
        textarea {
          width: 60%;
        }
      }
    }

    //? FOOTER

    .footer {
      height: auto;
      flex-direction: column;
      position: relative;
      justify-content: center;
      padding: 10px 0;
      &__icons {
        margin: 0;
      }
    }
  }
}

@include media-sm {
  .container {
    width: 100%;

    .about {
      padding: 10px;
      margin: 0;
      justify-content: space-around;
      &__text {
        text-align: center;
        h2 {
          font-size: 1.3rem;
          text-align: center;
        }
        p {
          text-align: center;
        }
        button {
          width: fit-content;
        }
      }
      &__img {
        width: 40vw;
      }
    }
  }
}

@include media-md {
  .about {
    justify-content: space-around;

    &__img {
      width: 30vw;
    }
  }
  .portfolio {
    &__boxes {
      width: 100vw;
    }
  }
  .contact {
    &__table {
      min-width: 40vw;
      input {
        width: 20vw;
      }
      textarea {
        width: 20vw;
      }
    }
  }
}
