@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6b6655;
  color: #ffffff;
  font-family: "Special Elite", system-ui;
}

.container {
  width: 70vw;
  height: auto;
  margin: 0 auto;
  background-color: #0d0d0d;
  box-shadow: -5px 5px 10px #430602, 5px 5px 10px #430602;
}

.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar__logo, .footer__logo {
  width: auto;
  height: 100%;
  align-content: center;
  text-align: center;
  color: #8c2626;
  text-shadow: 1px 1px 5px #430602;
  margin-left: 1.5rem;
  font-size: 2rem;
}
.navbar__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  margin-right: 1.5rem;
  list-style-type: none;
}
.navbar__menu--last a {
  text-decoration: none;
  color: #ffffff;
}
.navbar__menu--last a:hover {
  color: #8c2626;
}
.navbar__menu--last a:active {
  text-shadow: 1px 1px 5px #ffffff;
}

.header {
  background-image: url(./img/1.jpg);
  height: 70vh;
  background-size: cover;
  background-position: top;
  text-align: center;
  align-content: center;
}
.header__title {
  color: #ffffff;
  text-shadow: 1px 1px 5px #430602;
  font-size: 2.5rem;
}
.header__title span {
  color: #430602;
  text-shadow: 1px 1px 5px #ffffff;
}
.header__text {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  align-content: center;
  text-shadow: 1px 1px 5px #430602;
}
.header__button, .contact__table--button button, .portfolio button, .about__text button {
  background-color: #6b6655;
  color: #ffffff;
  min-width: 10vw;
  height: 3vh;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
.header__button:hover, .contact__table--button button:hover, .portfolio button:hover, .about__text button:hover {
  background-color: #430602;
  box-shadow: 1px 1px 5px #8c2626;
}
.header__button:hover:active, .contact__table--button button:hover:active, .portfolio button:hover:active, .about__text button:hover:active {
  transform: scale(0.95);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
.about__text {
  width: 50vw;
}
.about__text p {
  line-height: 1.2;
}
.about__text button {
  width: 15vw;
}
.about__img {
  width: 20vw;
  border-radius: 20px;
  border: 2px solid #430602;
}
.about__img img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}
.portfolio h2 {
  padding-bottom: 20px;
}
.portfolio__boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}
.portfolio__boxes--box {
  height: 30vh;
  flex-wrap: wrap;
  width: 18%;
  text-align: center;
  cursor: pointer;
  border: 2px solid #8c2626;
  border-radius: 20px;
}
.portfolio__boxes--box:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.portfolio__boxes--box img {
  object-position: center;
  object-fit: cover;
  object-position: top;
  margin-top: 10px;
  width: 90%;
  height: 60%;
  border-radius: 20px;
  border: 2px groove #6b6655;
}
.portfolio button {
  min-width: 20vw;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}
.contact h2 {
  padding-bottom: 20px;
}
.contact__table {
  min-width: 25vw;
}
.contact__table input {
  width: 15vw;
  height: 1.5rem;
}
.contact__table label {
  cursor: pointer;
}
.contact__table textarea {
  width: 15vw;
  resize: none;
  overflow: auto;
}
.contact__table--button {
  text-align: center;
  height: 4rem;
}
.footer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  text-align: center;
}
.footer__icons {
  margin-right: 20px;
  font-size: 2.2rem;
}
.footer__icons a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.footer__icons a i:hover {
  color: #430602;
}
.footer__icons a i:active {
  transform: scale(0.8);
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .container {
    width: 100vw;
  }
  .container .navbar {
    height: auto;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 10px 0;
  }
  .container .navbar__logo, .container .footer__logo {
    padding: 10px 0;
    margin: 0;
  }
  .container .navbar__menu {
    gap: 1;
    padding: 0;
    margin: 0;
  }
  .container .navbar__menu--last {
    font-size: 0.7rem;
  }
  .container .header {
    height: 40vh;
    padding: 10px 5px;
  }
  .container .header__title {
    font-size: 2rem;
  }
  .container .header__text {
    font-size: 1rem;
  }
  .container .header__button, .container .about__text button, .about__text .container button, .container .portfolio button, .portfolio .container button, .container .contact__table--button button, .contact__table--button .container button {
    font-size: 0.8rem;
  }
  .container .about {
    padding: 10px 5px;
  }
  .container .about__text {
    width: 100%;
    text-align: center;
    padding: 10px 5px;
  }
  .container .about h2 {
    text-align: center;
    font-size: 1.2rem;
  }
  .container .about__img {
    display: none;
  }
  .container .about button {
    width: fit-content;
  }
  .container .portfolio {
    flex-wrap: wrap;
    padding: 10px 5px;
  }
  .container .portfolio h2 {
    margin: 10px auto;
  }
  .container .portfolio__boxes {
    flex-wrap: wrap;
  }
  .container .portfolio__boxes--box {
    width: 100%;
    margin-top: 3px;
  }
  .container .portfolio__boxes--box:hover {
    opacity: 0.7;
    transform: scale(0.8);
  }
  .container .contact {
    padding: 10px 5px;
  }
  .container .contact h2 {
    padding-bottom: 10px;
    margin: 0;
  }
  .container .contact__table {
    width: 100%;
    text-align: center;
  }
  .container .contact__table th {
    display: block;
    width: 100%;
  }
  .container .contact__table td {
    display: block;
    width: 100%;
  }
  .container .contact__table input {
    width: 60%;
  }
  .container .contact__table textarea {
    width: 60%;
  }
  .container .footer {
    height: auto;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 10px 0;
  }
  .container .footer__icons {
    margin: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .container .about {
    padding: 10px;
    margin: 0;
    justify-content: space-around;
  }
  .container .about__text {
    text-align: center;
  }
  .container .about__text h2 {
    font-size: 1.3rem;
    text-align: center;
  }
  .container .about__text p {
    text-align: center;
  }
  .container .about__text button {
    width: fit-content;
  }
  .container .about__img {
    width: 40vw;
  }
}

/*# sourceMappingURL=style.css.map */
